html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  font-family: Arial, sans-serif;
}

.hint {
  width: 100%;
  margin-top: 5%;
}

p {
  margin: 0 auto;
  text-align: center;
  color: #ff00c8;
  font-style: oblique;
  font-size: 1.5rem;
}
